APP_TIMEZONE=Africa/Johannesburg
FTP_HOST=tairgames.top
FTP_PORT=21
FTP_USER=
FTP_PASSWORD=
FTP_REMOTE_DIR=tairgames.top
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
EXTRA_SOURCES=mintegral,unity,ironsource,dtexchange,bigo
MINTEGRAL_SOURCE_URL=
UNITY_SOURCE_URL=https://services.unity.com/api/monetize/app-ads/v1/organizations/4525801/developers/1579076/missing-app-ads
UNITY_LOGIN=
UNITY_PASSWORD=
UNITY_AUTHORIZATION=
UNITY_COOKIE=
UNITY_PUBLISHER_WEB_URL=https://www.kidsgames.top/app-ads.txt
IRONSOURCE_SOURCE_URL=https://docs.unity.com/en-us/grow/is-ads/user-acquisition/ironsource-exchange/app-ads-txt
DTEXCHANGE_SOURCE_URL=https://www.digitalturbine.com/dt-app-ads.txt
BIGO_SOURCE_URL=https://www.bigossp.com/union/app-ads-txt/developer/list
BIGO_TOKEN=
BIGO_TOKEN2=
BIGO_TOKEN_HEADER=x-auth-token
BIGO_TOKEN2_HEADER=bigo-ads-uid
BIGO_PAYLOAD={}
BIDMACHINE_SOURCE_URL=https://dashboard.bidmachine.io/app-ads/file/sellerId=789
BIDMACHINE_TOKEN=
BIDMACHINE_TOKEN_HEADER=X-Auth-Token
YANDEX_SOURCE_URL=https://partner.yandex.ru/restapi/v1/api/files/sellers/app-ads.txt
YANDEX_URL=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_AUTHORIZATION=
YANDEX_ACCESS_TOKEN=
YANDEX_TOKEN=
YANDEX_CODE=
YANDEX_REFRESH_TOKEN=
INMOBI_SOURCE_URL=https://publisher.inmobi.com/ads-txt/app-ads
INMOBI_AUTHORIZATION=
INMOBI_COOKIE=
INMOBI_LOGIN=
INMOBI_PASSWORD=
